<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>section0</key>
	<array>
		<dict>
			<key>name</key>
			<string>去评分</string>
			<key>image</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>功能介绍</string>
			<key>image</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>系统通知</string>
			<key>image</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>帮助与反馈</string>
			<key>image</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>检查新版本</string>
			<key>image</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
